<% content_for :title, "Welcome, #{@dashboard.user}" %>

<div>
  <%= content_tag(:h2, "Your Upcoming Trips") %>
  <%= display_trips @dashboard.trips.upcoming %>
</div>

<div>
  <%= content_tag(:h2, "Your Ongoing Trips") %>
  <%= display_trips @dashboard.trips.ongoing %>
</div>

<div>
  <%= content_tag(:h2, "Your Finished Trips") %>
  <%= display_trips @dashboard.trips.finished %>
</div>

<%= button_to "Start your own trip", new_trip_path, method: :get, :class => 'change' %>
