<div class="container">
<%= div_for trip do %>
  <h2 class="dark-aqua text-center">Going to <%= trip.destination.city %>, <%= trip.destination.country %></h2><br/>
  From: <%= trip.from_date %><br/>
  To: <%= trip.to_date %><br/>
  Activity: <%= trip.activity.name %><br/>
  Description: <%= trip.description %><br/>
  <% unless trip.capacity.nil? %>
    Capacity: <%= trip.capacity %><br/>
  <% end %>

<div>
  <%= content_tag(:h4, "Participants") %>
  <%= display_participants_of trip.confirmed_participations %>
</div>

<div>
  <%= count_pending_participants_of trip %>
</div>

<%= show_controls_for trip %>

<% end %>
</div>
