<%= form_for @trip do |f| %>
  <%= f.hidden_field :user_id, :value => current_user.id %></%>
  <div class="trip_form_field">
    <h4>Where do you want to go?</h4>
    <%= f.label :destination_name %>
    <%= f.text_field :destination_name, placeholder: "City, Country" %>
  </div>

  <div class="trip_form_field">
    <h4>What do you plan to do?</h4>
    <%= f.label :activity_name %>
    <%= f.text_field :activity_name, placeholder: "Ex. Dive, Trek, Museum Visit" %>
  </div>

  <div class="trip_form_field">
    <h4>What's your schedule?</h4>
    <%= f.label :from_date %>
    <%= f.date_field :from_date %>
    <%= f.label :to_date %>
    <%= f.date_field :to_date %>
  </div>

  <div class="trip_form_field">
   <h4>Say something about your trip</h4>
    <%= f.label :description %>
    <%= f.text_area :description, placeholder: "Plans, Itinerary, Meeting Place, Time, etc" %>
  </div>

  <div class="trip_form_field">
    <h4>Is there a capacity for your trip? (Optional)</h4>
    <em><%= f.label :capacity %></em>
    <%= f.text_area :capacity, placeholder: 'Leave blank if no maximum capacity' %>
  </div>

  <div class="trip_form_field">
    <%= f.submit "Submit", :class => "submit" %>
  </div>
<% end %>

