<%= div_for experience do %>
  <h2>Going to <%= experience.destination_name %></h2><br/>
  From: <%= experience.from_date %><br/>
  To: <%= experience.to_date %><br/>
  Description: <%= experience.description %><br/>
  <% unless experience.capacity.nil? %>
    Capacity: <%= experience.capacity %><br/>
  <% end %>

  <%= link_to "Update this experience", edit_experience_path(:id => experience.id) %><br/>
  <%= link_to "Cancel this", experience_path(:id => experience.id), method: 'DELETE' %>
<% end %>
