<%= render 'refills/navigation' %>
<div class="container">
  <div class="header">
    <h1 class="text-center orange">Browse trips by destination</h1>
  </div>
  <ul class="accordion">
  <% @destinations.each do |d| %>
    <li>
      <a href="javascript:void(0)" class="js-accordion-trigger"><%= d.city %>, <%= d.country %> (<%= d.trips.count %>)</a>
      <ul class="submenu">
        <% d.trips.each do |trip| %>
        <li><%= link_to trip.name, trip_path(:id => trip.id) %>
        </li>
        <% end %>
      </ul>
    </li>
  <% end %>
  </ul>
</div>
