<header class="navigation">
  <div class="navigation-wrapper">
    <h2><%= link_to "Places Together", root_path, :class => "logo" %></h2>
    <% if user_signed_in? %>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link more"><%= link_to "Browse", trips_path %>
          <ul class="submenu">
            <li class="nav-link"><%= link_to "By Destinations", destinations_path %></li>
            <li class="nav-link"><%= link_to "By Activities", activities_path %></li>
          </ul>
        </li>
        <li class="nav-link more"><a href="javascript:void(0)">About Us</a>
          <ul class="submenu">
            <li class="nav-link"><a href="javascript:void(0)">FAQ</a></li>
          </ul>
        <li class="nav-link"><a href="javascript:void(0)">Contact</a></li>
      </ul>
    </div>

    <div class="navigation-tools">
      <div class="search-bar">
        <div class="search-and-submit">
          <input type="search" placeholder="Enter Search" />
          <button type="submit">
            <img src="https://raw.githubusercontent.com/Magnus-G/Random/master/search-icon.png" alt="">
          </button>
        </div>
      </div>
      <%= link_to "Logout", destroy_user_session_path, :class => "sign-up", :method => 'DELETE' %>
        <% else %>
      <%= link_to "Login", new_user_session_path, :class => "sign-up" %>
      <% end %>
    </div>
  </div>

</header>
