<div class="vertical-tabs-container">
  <div class="vertical-tabs">
    <a href="javascript:void(0)" class="js-vertical-tab vertical-tab is-active" rel="tab1"><%= content_tag(:h4, "Upcoming Trips") %></a>
    <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab2"><%= content_tag(:h4, "Ongoing Trips") %></a>
    <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab3"><%= content_tag(:h4, "Finished Trips") %></a>
  </div>

  <div class="vertical-tab-content-container">
    <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading is-active" rel="tab1"><%= content_tag(:h4, "Upcoming Trips") %></a>
    <div id="tab1" class="js-vertical-tab-content vertical-tab-content">
      <div class="cards">
        <%= display_trips @dashboard.confirmed_trips.upcoming %>
      </div>
    </div>

    <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab2"><%= content_tag(:h4, "Ongoing Trips") %></a>
    <div id="tab2" class="js-vertical-tab-content vertical-tab-content">
      <div class="cards">
        <%= display_trips @dashboard.confirmed_trips.ongoing %>
      </div>
    </div>

    <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab3"><%= content_tag(:h4, "Finished Trips") %></a>
    <div id="tab3" class="js-vertical-tab-content vertical-tab-content">
      <div class="cards">
        <%= display_trips @dashboard.confirmed_trips.finished %>
      </div>
    </div>
  </div>
</div>
